@charset "UTF-8";
* {
/* 	font-family: 나눔고딕; */
}

#chatRoom{
	border:2px solid red;
	padding: 5px;
	width : 330px;
	margin: 0px auto;
}

#chatRoom select {
	width : 325px;
}

#chatRoomMem{
	width: 200px;
}

#chatRoomMemList{
	width: 200px;
}

#main-container{
	width:450px;
	height:700px;
	border:1px solid black;
	background: #7B68EE;
	border-radius: 5px;
	margin:10px;
	display: none;
	position: absolute;
	right: 20px;
	bottom: 20px;
	z-index: 1080;
}
#chat-container{
	vertical-align: bottom;
/* 	border: 1px solid black; */
	border-radius: 5px;
	margin:3px;
	min-height: 600px;
	max-height: 600px;
	overflow: scroll;
	overflow-x:hidden;
	background: #F7F6F6;
	z-index: 1041;
}

.chat{
/* 	font-size: 20px; */
	color: darkslategray;
	margin: 5px;
	min-height: 20px;
	padding: 5px;
	min-width: 30px;
	text-align: center;
    height:auto;
    word-break : break-all;
    background: #D2D2FF;
    max-width: 330px;
    display:inline-block;
    border-radius: 10px 10px 10px 10px;
}
.name{
	color: darkslategray;
}
.notice{
	color:#607080;
	font-weight: bold;
	border : none;
	text-align: center;
	background-color: #9bbbd4;
	display: block;
}

.my-chat{
	text-align: center; 
	background: #F7E600;
	border-radius: 10px 10px 10px 10px;
}

#bottom-container{
	margin:10px;
}

.chat-info{
	color:#556677;
	font-size: 10px;
	text-align: right;
	padding: 5px;
	padding-top: 0px;
}

.chat-box{
	text-align:left;
}
.my-chat-box{
	text-align: right;
}

#openChat{
	width: 100px;
	height: 100px;
	position: absolute;
	right: 50px;
	bottom: 50px;
	z-index: 1050;
}
#chatImgIcon{
	width: 100px;
	height: 100px;
}

input#file{
	width: 280px;
	display: inline;
}

/* #chatTopBar{ */
/* 	width: 99%; */
/* 	text-align: right; */
/* } */

#closeChat{
	margin: -30px;
	color: white;
}
/* #chatTopBar{ */
/* 	background: black; */
/* } */
#countMsg{
	width: auto;
	height: auto;
	position: absolute;
	right: 2px;
	top: -2px;
	font-size: 0.9em;
	padding: 0px;
	background: red;
	color: white;
	line-height: 1rem;
	z-index: 1051;
}

.readCount{
	vertical-align: bottom;
}

.chat-message{
	margin-top : 15px;
	margin-right: 10px;
}

.chat-message img{
	max-width: 200px;
	height: auto;
}
